.App {
  background-color: azure;
  height: 100vh;
}
.Photo,
Address {
  position: center;
  padding-left: 600px;
  padding-top: 50px;
  margin: 0px;
}
.Name{
  font-family:Arial, Helvetica, sans-serif;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
